@charset "UTF-8";
//--------------------------------------------
//
//	_component.scss
//	ヘッダー/フッター など
//
//---------------------------------------------
//---------------
//  ヘッダー
//---------------
.header {
  text-align: center;
  background-color: #ccc;
}
//---------------
//  フッター
//---------------
.footer {
  text-align: center;
  background-color: #b2b2b2;
}
