doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title text effect sample

    link(rel="stylesheet" href="./style.css")

  body
    h1 いろんな文字エフェクト

    dl
      dt effect01: 真っ二つ
      dd

        .ef1
          .ef1-wrap
            p.ef1-tx
              span.ef1-tx-move 獅吼滅龍閃

    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="./script.js")
