//----------------------------------------
//- _pages ページ情報
//----------------------------------------
-
	var pagelist = {
		top :
		{
			title :'トップページ',
			desc : 'トップページ',
			keywords : 'キーワード1,キーワード2',
		},
		sample :
		{
			title :'Form Test',
			url :'/form.html',
			desc : 'フォームページ',
			keywords : 'フォームキーワード1,フォームキーワード2',
		}
	}
