/* reset */
* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}

/* contents（配置用） */
.contents {
    margin: 50px 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

/* card */
.card {
    &-wrapper {
        // width: 82px;
        // height: 106px;
        text-align: center;
        font-size: 12px;
        // 相続対象者
        &.is-inheritee {
            .card-person {
                background-color: #FEF6E6;
            }
        }
        // 故人
        &.is-deceased {
            .card-image {
              margin-top: -6px;
            }
        }
        // あなた
        &.is-you {
            .card-person {
                border-color: #000;
            }
        }
    }
    // 相続割合（吹き出し）
    &-share {
        display: block;
        text-align: right;
        &-num {
            display: inline-block;
            vertical-align: top;
            color: #fff;
            height: 25px;
            line-height: 25px;
            padding: 0 6px;
            background-color: #CB4949;
            border-radius: 4px;
            font-weight: bold;
            box-shadow: 2px 2px 2px rgba(0,0,0,.2);
            &:empty {
                opacity: 0;
            }
        }
        // 吹き出しの三角
        // &::before {
        //     content: '';
        //     position: absolute;
        //     width: 6px;
        //     height: 5px;
        //     clip-path: polygon(100% 0, 0 0, 22% 100%);
        //     background-color: #CB4949;
        //     bottom: -5px;
        //     left: 0;
        //     right: 0;
        //     margin: auto;
        //     z-index: 10;
        // }
    }
    // 画像+続柄
    &-person {
        // width: 72px;
        // height: 96px;
        width: 90%;
        margin: -15px auto 0;
        background-color: #fff;
        border: 2px solid transparent;
    }
    // 画像
    &-image {
        width: 100%;
        img {
            display: block;
            margin: auto;
        }
    }
    // あなたタグ
    &-you {
        height: 18px;
        line-height: 18px;
        text-align: left;
        margin: -2px 0 0 -2px;
        &-tag {
            display: inline-block;
            vertical-align: top;
            padding: 0 4px;
            font-size: 10px;
            color: #fff;
            background-color: #000;
            &:empty {
                opacity: 0;
            }
        }
    }
    // 続柄
    &-relation {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.2;
        height: 36px;
    }
}