@charset "UTF-8";
// ===================================================================
// mixin / function
// ===================================================================
// ============================================
//	media query
// ============================================
$MQ_PC: 768px !default;
$MQ_SP: 767.9px !default;
$MQ_TAB: $base_width;

@mixin mq_pc() {
	@media screen and (min-width: $MQ_PC) {
		@content;
	}
	@media print {
		@content;
	}
}
@mixin mq_sp() {
	@media screen and (max-width: $MQ_SP) {
		@content;
	}
}
@mixin mq_tab() {
	@media screen and (min-width: $MQ_PC) and (max-width: $MQ_TAB) {
		@content;
	}
}

// ============================================
//	Retina
// ============================================
@mixin retina() {
	// @media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 2dppx){
	@media only screen and (-webkit-min-device-pixel-ratio: 2){
		@content;
	}
}

// ============================================
//	font-size
// ============================================
@mixin fs($size) {
  font-size: $size + px;
  font-size: ($size / 10) + rem;
}

// ============================================
//	transform
// ============================================
@mixin transform($x, $y) {
	//-webkit-transform: translate($x, $y);
	transform: translate($x, $y);
}

// ============================================
//	input
// ============================================
@mixin input_style {
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: $font_family;
	@include fs(12);
	box-sizing: border-box;
}

// ============================================
//	select
// ============================================
@mixin select_style {
	height: 40px;
	padding-left: 10px;
	padding-right: 0;
	font-family: $font_family;
	@include fs(12);
	box-sizing: border-box;
}

// ============================================
//	margin & padding
// ============================================
// margin
@mixin mg($val) {
	margin: $val;
}

// margin-top
@mixin mt($val) {
	margin-top: $val;
}

// margin-bottom
@mixin mb($val) {
	margin-bottom: $val;
}

// margin-left
@mixin ml($val) {
	margin-left: $val;
}

// margin-right
@mixin mr($val) {
	margin-right: $val;
}

// padding
@mixin pd($val) {
	padding: $val;
}

// padding-top
@mixin pt($val) {
	padding-top: $val;
}

// padding-bottom
@mixin pb($val) {
	padding-bottom: $val;
}

// padding-left
@mixin pl($val) {
	padding-left: $val;
}

// padding-right
@mixin pr($val) {
	padding-right: $val;
}
