//--------------------------------------------
//
// _parts
// 汎用パーツ 小型・独立
//
//---------------------------------------------
// デバイスdisplay
.view-pc
	border 1px solid #000
	+mq_sp()
		display none !important
.view-sp
	+mq_pc()
		display none !important
.display-none
	display none

// 汎用フレックスボックス
.type-flex
	display flex
	flex-wrap wrap

	&.is-center
		align-items center
		justify-content center

	&.type-spacebetween
		justify-content space-between

	&.type-vertical
		flex-direction column

	&.type-align
		align-items center

	&.type-pc
		+mq_sp()
			display block

// インナーフレーム
.inner
	max-width base_width
	margin 0 auto
	+mq_tab()
		margin 0 pcrem(20)
	+mq_sp()
		margin 0 sprem(40)
