//--------------------------------------------
//
//	_variables
//	ベースの変数定義と_layoutの自動出力設定
//
//---------------------------------------------
// base font
font_family = -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif
// 明朝体フォント設定例
// font-family = Georgia, Times, "Times New Roman", "游明朝体", YuMincho, "游明朝", "Yu Mincho", serif
// base font size
font_size = 62.5%
// base width
base_width = 1280px
// base img path
images_path= "/img/";
// calc_percent
calc = base_width

//---------------------------------------------
// _outputの設定
// (true:出力される false:出力されない)
//---------------------------------------------
// 余白調整用
use_spacing_classes = true

// font-size用
use_fs = true

// text-align用
use_ta = true

// font-weight用
use_fw = true

// width px用
use_w = false

// width %用
use_wp = false
