//--------------------------------------------
//
// _mixin
// 各スタイルで使いまわしたいものや一括で出力しておきたいもの
//
//---------------------------------------------
//---------------------------------------------
// media query
//---------------------------------------------
MQ_PC = 768px
MQ_SP = 767.9px
MQ_TAB = base_width + 40px

mq_pc()
	@media screen and (min-width: MQ_PC)
		{block}

mq_sp()
	@media screen and (max-width: MQ_SP)
		{block}

mq_tab()
	@media (min-width: MQ_SP) and (max-width: MQ_TAB)
		{block}

//---------------------------------------------
// font-size
//---------------------------------------------
fs(size)
	font-size (size)px
	font-size (size / 10)rem

//---------------------------------------------
// transform
//---------------------------------------------
transform(x, y)
	transform translate(x, y)

//---------------------------------------------
// input
//---------------------------------------------
input_style()
	height 40px
	padding-left 10px
	padding-right 10px
	font-family font_family
	fs(12)
	box-sizing border-box


//---------------------------------------------
// select
//---------------------------------------------
select_style()
	height 40px
	padding-left 10px
	padding-right 0
	font-family font_family
	fs(12)
	box-sizing border-box

//---------------------------------------------
// margin & padding
//---------------------------------------------
// margin
mg(val)
	margin val

// margin-top
mt(val)
	margin-top val

// margin-bottom
mb(val)
	margin-bottom val

// margin-left
ml(val)
	margin-left val

// margin-right
mr(val)
	margin-right val

// padding
pd(val)
	padding val

// padding-top
pt(val)
	padding-top val

// padding-bottom
pb(val)
	padding-bottom val

// padding-left
pl(val)
	padding-left val

// padding-right
pr(val)
	padding-right val

//---------------------------------------------
// SP向けのデバイス幅に関する function群
//---------------------------------------------
base_sp_width = 750
/**
 * ベース幅 640pxで作成されたデザインに対して、
 * デバイス幅を維持した width/height/margin/padding サイズを返す関数。
 * 使い方
 *	 - width sprem(560)		// photoshop上で 560px
 *	 - height sprem(100)	 // photoshop上で 100px
 */
sprem(photoshop_on_px)
	// #{variable_name} は、変数展開に必要
	return "calc((100vw / %s ) * %s )" %(base_sp_width photoshop_on_px)

/**
 * ベース幅 640pxで作成されたデザインに対して、
 * デバイス幅を維持した font-size/line-height サイズを返す関数。
 * 使い方
 *	 - font-size spfsrem(34)		// photoshop上で 34px
 *	 - line-height spfsrem(36)	// photoshop上で 36px
 */

spfsrem(photoshop_on_px)
	return "calc( (100vw / %s ) * %s )" %(base_sp_width photoshop_on_px)

//---------------------------------------------
// SP以外のデバイス幅に関する function群
//---------------------------------------------
base_pc_width = 1024
/**
 * ベース幅 1024pxで作成されたデザインに対して、
 * デバイス幅を維持した width/height/margin/padding サイズを返す関数。
 * 使い方
 *	 - width sprem(560)		// photoshop上で 560px
 *	 - height sprem(100)	 // photoshop上で 100px
 */

base = "calc( 100vw / %s )" %base_pc_width

pcrem(photoshop_on_px)
	return "calc(( %s / %s ) *100vw )" %(photoshop_on_px base_pc_width)

/**
 * ベース幅 640pxで作成されたデザインに対して、
 * デバイス幅を維持した font-size/line-height サイズを返す関数。
 * 使い方
 *	 - font-size spfsrem(34)		// photoshop上で 34px
 *	 - line-height spfsrem(36)	// photoshop上で 36px
 */

pcfsrem(photoshop_on_px)
	return "calc(( %s / %s ) *100vw )" %(photoshop_on_px base_pc_width)
