@charset "UTF-8";
//--------------------------------------------
//
//	_default.scss
//	基本設定
//
//---------------------------------------------
body {
	color: $c_font;
	font-family: $font_family;
	//全体のフォントサイズ
	@include fs(16);
	@include mq_sp {
		@include fs(14);
	}
}
p {
	line-height: 1.75;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.5;
}
small {
	font-size: 80%;
}
a {
	color: $c_font;
	text-decoration: none;
}
