@charset "UTF-8";
// ===================================================================
// layout
// ===================================================================
// ============================================
//	font-size指定
// ============================================
@if $use_fs {
	@for $i from 10 through 30 {
		.fs#{$i} { font-size: #{$i}px !important;}
	}
}

// ============================================
//	text-align指定
// ============================================
@if $use_ta {
	.tac {
		text-align: center !important;
	}
	.tal {
		text-align: left !important;
	}
	.tar {
		text-align: right !important;
	}
}

// ============================================
//	font-weight指定
// ============================================
@if $use_fw {
	.fwb {
		font-weight: bold !important;
	}
	.fwn {
		font-weight: normal !important;
	}
}

// ============================================
//	width 0px-500px
// ============================================
@if $use_w {
	@for $w from 0 through 100 {
		.w#{$w * 5} {
			width:#{$w * 5}px !important;
		}
	}
}

// ============================================
//	width 0%-100%
// ============================================
@if $use_wp {
	@for $wp from 0 through 20 {
		$width: percentage($wp / 20);
		.w#{$wp * 5}p {
			width: $width !important;
		}
	}
}

// ============================================
//	余白調整用のクラス
// ============================================
@if $use_spacing_classes {
	@for $i from 0 through 20 {
		.mt#{$i * 5} {
			margin-top: 5px * $i !important;
			@include mq_sp {
				margin-top: 5px * $i / 2 !important;
			}
		}
		.mb#{$i * 5} { margin-bottom: 5px * $i !important;
			@include mq_sp {
				margin-bottom: 5px * $i / 2 !important;
			}
		}
		.pt#{$i * 5} { padding-top: 5px * $i !important;
			@include mq_sp {
				padding-top: 5px * $i / 2 !important;
			}
		}
		.pb#{$i * 5} { padding-bottom: 5px * $i !important;
			@include mq_sp {
				padding-bottom: 5px * $i / 2 !important;
			}
		}
	}
}
