footer#footer.footer
	p フッター
	//- js
	//-CDN読み込み
	script(src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	//-フォールバック(CDN読み込めなかった場合のみ読み込む)
	script.
		window.jQuery || document.write('<script src="/js/jquery-3.3.1.min.js"><\/script>');
	script(src="/js/common.js")
